<mat-toolbar color="primary">
    <span>Parking JARS</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Inicio</button>
    <button mat-button routerLink="/dashboard/customer">Clientes</button>
    <button mat-button routerLink="/dashboard/role">Roles</button>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
