<!---Formulario para insertar clientes-->

<div class="container">
  <mat-toolbar>
    <span>Insertar Cliente</span>
  </mat-toolbar>
  <mat-card style="margin-top: 10px;">
    <form [formGroup]="customerForm" (ngSubmit)="addCustomer()">

          <mat-form-field class="width">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" type="text" formControlName = "name">
          </mat-form-field>

          <mat-form-field class="width">
            <mat-label>Apellido</mat-label>
            <input matInput autocomplete="off" type="text" formControlName = "lastname">
          </mat-form-field>

          <mat-form-field class="width">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off" type="password" formControlName = "password">
          </mat-form-field>

          <mat-form-field class="width">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" type="email" formControlName = "email">
          </mat-form-field>

          <mat-form-field class="width">
            <mat-label>Teléfono</mat-label>
            <input input type="number" min="0" matInput autocomplete="off" formControlName = "phone">
          </mat-form-field>
          
          <button type="submit" mat-raised-button color="primary" [disabled]="customerForm.invalid">Aceptar</button>
          <a (click)="editCustomer()" mat-raised-button color="secondary" [disabled]="customerForm.invalid">Editar</a>

    </form>
  </mat-card>

</div>
<br>
<!---Tabla con los clientes-->

<div class="container">
  <mat-toolbar>
    <span>Clientes Registrados</span>
    <div class="example-spacer"></div>
    <a mat-stroked-button (click)="getCustomerListPdf()">Reporte</a>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
          <a class="pointer" (click)="fillData(element)" style="color: #1f516f">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" (click)="delete(element.id)" style="color: #e15639">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  </div>


</div>