<router-outlet></router-outlet>
<!--
<p>
  <mat-toolbar>
    <span>Parking JARS</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
        Perfil
      </button>
    </button>
    <mat-menu #menu="matMenu">
      <div>
        <div class="menu-centered">
          <button mat-flat-button color="accent">Iniciar sesión</button>
        </div>
        <div class="menu-centered">
          <label>
            ¿No tiene una cuenta?
          </label>
          <button mat-button color="primary">Regístrese ahora</button>
        </div>
      </div>
    </mat-menu>
  </mat-toolbar>
</p>

<section>
  <div class="spacer">

  </div>
</section>

<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
    <h1>Lista de parqueo</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="accent">
      Agregar
    </button>
  </mat-grid-tile>
</mat-grid-list>
-->

