<!---Formulario para insertar Vehículo-->

<div class="container">
    <mat-toolbar>
      <span>Insertar Vehículo</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
      <form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()">
  
            <mat-form-field class="width">
              <mat-label>Placa</mat-label>
              <input matInput autocomplete="off" type="text" formControlName = "license_plate">
            </mat-form-field>
  
            <mat-form-field class="width">
              <mat-label>Marca</mat-label>
              <input matInput autocomplete="off" type="text" formControlName = "car_brand">
            </mat-form-field>
  
            <mat-form-field class="width">
              <mat-label>Modelo</mat-label>
              <input matInput autocomplete="off" type="text" formControlName = "car_model">
            </mat-form-field>
  
            <mat-form-field class="width">
              <mat-label>Color</mat-label>
              <input matInput autocomplete="off" type="text" formControlName = "color">
            </mat-form-field>

            <mat-form-field class="width">
                <mat-label>Categoría</mat-label>
                <input matInput autocomplete="off" type="number" min="1" formControlName = "category_id">
              </mat-form-field>

            
            <button type="submit" mat-raised-button color="primary" [disabled]="vehicleForm.invalid">Aceptar</button>
            <a (click)="editVehicle()" mat-raised-button color="secondary" [disabled]="vehicleForm.invalid">Editar</a>
  
      </form>
    </mat-card>
  
  </div>
  <br>

  <!---Tabla con los vehículos-->

<div class="container">
  <mat-toolbar>
    <span>Vehículos Registrados</span>
    <div class="example-spacer"></div>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="plate">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let element"> {{element.license_plate}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Marca</th>
        <td mat-cell *matCellDef="let element"> {{element.car_brand}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.car_model}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.color}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.category_id}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
          <!--<a class="pointer" (click)="fillData(element)" style="color: #1f516f">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" (click)="delete(element.id)" style="color: #e15639">
            <mat-icon>delete</mat-icon>
          </a>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  </div>


</div>